.product__container{
position: fixed;
width: 100%;
height: 100%;
top: 0;
right: 0;
background-color: rgba(0, 0, 0, .5);
display: flex;
align-items: center;
justify-content: center;

}
.innerProduct__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #ffff;
    width: 60%;
}

.innerProduct__container img{
    width: 39%;
}

.innerProduct__container button{
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    color: #ffff;
    width: 70%;
    height: 40px;
}
.closeIcon{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffff;
    cursor: pointer;
    font-size: xx-large;
    margin: 40px;
}
.innerProduct__container button:hover{
    opacity: .9;
}
.innerProduct__container button:active{
    background-color: white;
    color: black;
}
@media screen and (max-width: 420px) {
    .innerProduct__container{
        flex-direction: column;
        padding: 20px;
    }
    .innerProduct__container img{
        width: 79%;
    }
}